* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
}

#moviesCountersContainer {
    position: absolute;
    top: 0;
    right: 0;
}

.moviesCounter {
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#moviesList {
    width: 80%;
    margin: 100px 10% 0 10%;
}

#moviesList li {
    margin: 50px auto;
    padding: 10px;
}

#moviesList li:hover {
    background-color: #212121;
    color: #fff;
}

button {
    width: 130px;
    font-size: 1.1rem;
    border: none;
    color: #FFF;
    padding: 15px 32px;
    text-align: center;
    margin-top: 10px;
}

.btn-green {
    background-color: #4CAF50;
}

.btn-red {
    background-color: #801515;
}

/* add.html styles */

#formContainer {
    width: 25%;
    margin: 5% auto;
}

.form-row {
    display: flex;
}

.form-row input,
.form-row textarea {
    flex: 1;
    margin: 5px 0 0 10px;
}

.form-row textarea {
    height: 70px;
    overflow: auto;
}

.form-row label {
    margin-top: 5px;
    width: 21%;
}

.form-row input:focus,
.form-row textarea:focus {
    background-color: #FFFFAA;
}

.add-btn {
    width: 120%;
    display: flex;
    justify-content: center;
}

#form_btn {

    width: 130px;
    margin-top: 10px;
    background-color: #55AA55;
}

#form_btn:hover {
    background-color: #004400;
}

#form-requirements {
    width: 120%;
    font-size: 0.9rem;
    color: #4D5F63;

}

#form-requirements p {
    margin: 5px auto;
    text-align: center;
}

.asterisk {
    font-size: 0.8rem;
    vertical-align: super;
}
